
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormularioVisita</title>
</head>
<body>
    <div> 
        <form method="post" action="/Home/CargaDatos">
            <p> Nombre:<input type="text" name="nombre" /></p>
            <p> Cedula:<input type="text" id="cedula" /></p>
            <p> Telefono:<input type="text" phone="telefono" /></p>
            <p> Correo:<input type="text" Email="correo" /></p>
            <p>
                Comentarios<br /> 
                <textarea rows="10" cols="120" name="comentarios"></textarea>
                </p>
            <p><input type="submit" value="confirmar" /></p>
            </form>
    </div>
</body>
</html>
