
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p><a href="/Home/FormularioVisita">Por favor deje su comentario en el Registro de visitas</a></p>
        <p><a href=" /Home/ListadoVisitas">Comentarios de Visistantes.</a></p>
    </div>
</body>
</html>
